// Xsmall devices
@media (max-width:575px) {
    .slider{
        .slider-text h1{
            font-size: 3.4rem !important;
        }
    }
    .steps{
        height: auto !important;
      .text-in{
          height: 100% !important;
        i{
            font-size: 6rem !important;
        }
        h1{
            font-size:3.5rem !important;
        }
      }
    }
    .food-text{
        height: auto !important;
        .boxes-text{
            height: auto !important;
        }
    }
    .boxes{
        height: auto !important;
        .all-box{
            height: auto !important;
            .box1{
            height: auto !important;
            .box1-in{
            height:auto !important;
        i{
          width: 12rem;
          height: 12rem;
          border-radius: 50%;
          line-height: 12rem;
          margin-bottom: 2rem;
          font-size: 7rem;
        }
        h1{
          font-size: 2.8rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
        }
        }
        
    }
    .testimional{
        height: auto !important;
        .imgphoto{
            width: 30% !important;
            height: 40% !important;
        }
    }
    .follow{
        height: auto !important;
        .bg{
            height: auto !important;
            .bg-right{
                height: auto !important;
                h1{
                    font-size: 2rem !important;
                }
                p{
                    font-size: 1.3rem !important;
                    line-height: 1.2 !important;
                }
                input{
                    width: 90% !important;
                    font-size: 1.3rem !important;
                }
                button{
                    width: 90% !important;
                    font-size: 1.3rem !important;
                }
            }
        }
    }
    .customer{
        height: auto !important;
        padding: 2rem 0;
        margin-top: 2rem;
        h1{
            font-size: 2.2rem !important;
        }
        p{
            font-size: 1.5rem !important;
        }
    }

    .video{
        height: auto !important;
        h1{
            margin-top: 2rem;
            font-size: 2.5rem !important;
            margin-bottom: 1rem !important;
        }
    }
    .contact{
        height: auto !important;
    }
}


// Small devices (tablets,576px and up)
@media (min-width: 576px) and (max-width:767px) { 
    .slider-text h1{
        font-size: 3.8rem !important;
    }
    .steps{
        height: auto;
        .text-in{
            height: 100% !important;
          i{
              font-size: 7rem !important;
          }
          h1{
              font-size:3.8rem !important;
          }
        }
      }
      .boxes{
        height: auto !important;
        .box1{
            height: auto !important;
        }
    }
      .box1-in{
       height: auto !important;
         i{
           width: 9rem !important;
           height: 9rem !important;
           border-radius: 50%;
           line-height: 9rem !important;
           margin-bottom: 2rem;
           font-size: 4rem !important;
         }
         h1{
           font-size: 2.2rem;
         }
         p{
             font-size: 1.3rem;
         }
     }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width:991px) { 
    .slider{
        .slider-text h1{
            font-size: 4rem !important;
        }
        
    }
    
    .steps{
        height: auto;
        .text-in{
            height: 100% !important;
          i{
              font-size: 7rem !important;
          }
          h1{
              font-size:4rem !important;
          }
        }
      }
      .boxes{
          height: auto;
      }
      .box1-in{
        height: auto !important;
          i{
            width: 13rem !important;
            height: 13rem !important;
            border-radius: 50%;
            line-height: 13rem !important;
            margin-bottom: 2rem;
            font-size: 6em !important;
          }
          h1{
            font-size: 2.6rem;
          }
          p{
              font-size: 1.5rem;
          }
      }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .slider-text h1{
        font-size: 4.5rem !important;
    }
    .boxes{
        height: auto !important;
        .box1{
            height: auto !important;
        }
    }
    .box1-in{
      height: auto !important;
    }
}